<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<a href="/notes/">笔记</a>

        <style>
            a{
                color: rgb(140, 200, 216);
                text-decoration: none;
                margin-right: 2em;
            }
            a:hover{
                text-decoration: underline;
                background-color: rgb(103, 69, 239);
            }
        </style>